// Hamburger Menu
.hamburger-menu {
  width: 4rem;
  height: 4rem;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5rem;
  margin-top: 2rem;

  .menu {
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform .5s;


    &-line {
      width: 100%;
      height: 0.4rem;
      background-color: $color-primary-dark-2;
      transition: .5s .5s;
      transform-origin: right;
    }
  }
}

// wave mountains
#box-wave {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background: url("../img/bg-wave.png");
    background-size: 150rem 20rem;
  }

  .wave-1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }

  .wave-2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 1rem;
  }
}


// Loading
.container-fluid{
  display: none;
}
.loading {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite,
    index 6s -2s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite,
    index 6s -4s ease infinite;
}

.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite,
    index 6s ease infinite;
}


