// min-width: 1200
@media only screen and (min-width: 1200px) {
  .header {
    &-logo {
      >img {
        width: 32rem;
        height: 16rem;
      }

      >span {
        top: 4vh;
        right: 51%;

        img {
          width: 6.2rem;
        }

        span {
          font-size: 1.85rem;
        }
      }
    }

    &-nav {
      ul {
        li {
          margin: 0 0 0 1.2rem;

          a {
            font-size: 1.5rem;
          }
        }
      }
    }

  }
}

// max-width: 1200
@media only screen and(max-width: 1200px) {
  .download {
    &-num {
      &-desc {
        font-size: 1.3rem;
      }
    }

    &-app {
      ul {
        li {
          width: 11.5rem;
        }
      }
    }
  }
}


// min-width: 992px
@media only screen and (min-width: 992px) {
  .navigate {
    display: none;
  }

  .logo {
    display: none;
  }

  .mobile {
    position: relative;

    &-icons {
      height: 68rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: absolute;
      right: 50%;
      top: 0;
      border-right: .2rem solid $color-primary-light;

      span {
        margin: 1.5rem 0;
        position: relative;
        left: 51%;
      }
    }

    &-phone {
      position: absolute;
      left: 49%;
    }

    &-search-hotel {
      width: 32rem;
      position: absolute;
      right: 40%;
      top: 25rem;
    }
  }

}

// max-width: 991px
@media only screen and (max-width: 991px) {
  .header {
    display: none;
  }

}

// max-width: 360px
@media only screen and (max-width: 360px) {
  .search {

    &-btn>div>input:focus,
    &-btn>div>input:valid {
      width: 15rem;
    }
  }

  .slider {
    overflow: hidden;

    &-desc {
      h2 {
        font-size: 3rem;
      }
    }

    &-img {

      img {
        width: 37rem;
      }
    }
  }

}


// min-width: 576px
@media only screen and (min-width: 576px) {
  .logo {
    position: relative;

    span {
      top: 10rem;
      right: 32%;

      >img {
        width: 9.5rem;
        height: 9.5rem;
      }

      >span {
        top: 3rem;
        right: 10.5rem;
        font-size: 2.4rem;
      }
    }
  }

  .mobile {
    &-icons {
      span {
        height: 6rem;
        padding: 1.5rem;
      }
    }

    &-phone {
      img {
        width: 35rem;
      }
    }
  }
}


// min-width: 577px
@media only screen and(min-width: 577px){
  .download-2{
    display: none;
  }
}


// max-width: 576px
@media only screen and (max-width: 576px) {
  .download {
    display: none;
  }
}

// min-width: 768px
@media only screen and (min-width: 768px) {
  .logo {

    span {
      top: 17rem;
      right: 38%;

      >img {
        width: 11.5rem;
        height: 11.5rem;
      }

      >span {
        top: 3.8rem;
        right: 13rem;
        font-size: 3rem;
      }
    }
  }

  .slides-text-div {
    position: static;
    font-size: 15px;
    height: 180px;
  }

  .carousel-inner {
    width: 100% !important;
  }

  .search-hotel {
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }

}

// max-width: 768px
@media only screen and (max-width: 768px) {
  .download {
    margin-top: 5rem;

    h2 {
      font-size: 2.2rem;
    }

    &-box {

      &-input {
        input {
          width: 32rem;
          padding-left: 13rem;
        }

        button {
          width: 12rem;
        }
      }
    }
  }
}


// max-width: 768px and 1050px
@media only screen and (min-width:768px) and (max-width:1050px) {
  .carousel-inner {
    width: 100% !important;
  }

  .web-navbar-ul li {
    font-size: 1rem;
  }

  .Rectangle-1 {
    width: 8rem;
    height: 3rem;
  }
}